<div class="search-task">
  <div class="container">
    <h1>Todos</h1>
    <div class="search-task-wrapper" *ngIf="taskService.tasks.length> 1">
      <div class="search-task__options">
        <p>Filter by name or date</p>
        <label class="">
          <input type="text" class="search-task__name" placeholder="Type to search" [(ngModel)]="searchTerm">
        </label>
        <label>
          <input type="date" class="search-task__date" [(ngModel)]="searchDate">
        </label>
      </div>
      <div class="search-task__button">
        <button (click)="resetDate()">Reset date</button>
      </div>
    </div>
  </div>
</div>


<div class="tasks" *ngIf="taskService.tasks.length">
  <div class="task" *ngFor="let task of taskService.tasks | searchByName: searchTerm | searchByDate: searchDate">
    <div class="container">
      <div class="task-wrapper">
        <div class="task-description">
          <label for="task" class="checkbox">
            <input
              type="checkbox"
              id="task"
              [(ngModel)]="task.completed"
              (ngModelChange)="updateTaskFromLocalStorageStatus(task)"
            >
          </label>
          <p
            class="task-date"
            *ngIf="!task.editable; else editDate"
            [ngClass]="{completed: task.completed}"
          >
            {{task.date | date:'dd/MM/yyyy'}}.
          </p>
          <ng-template #editDate>
            <input
              type="date"
              class="task-date-edit"
              [(ngModel)]="task.date"
              (keyup.enter)="doneEdit(task)"
              (keyup.escape)="cancelEdit(task)"
            >
          </ng-template>

          <p
            class="task-name"
            *ngIf="!task.editable; else editName"
            [ngClass]="{completed: task.completed}"
          >
            {{task.name}}
          </p>
          <ng-template #editName>
            <input
              type="text"
              class="task-name-edit"
              [(ngModel)]="task.name"
              (keyup.enter)="doneEdit(task)"
              (keyup.escape)="cancelEdit(task)"
              autofocus
            >
          </ng-template>


        </div>
        <div class="task-buttons">
          <button
            class="btn edit"
            (click)="editTask(task)"
            [disabled]="task.completed"
          >
            Edit
          </button>

          <button
            class="btn delete"
            (click)="deleteTask(task)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

