.search-task {

  margin-bottom: 30px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 8px 0 8px 15px;
    outline: none;
  }

  .search-task__options {
    width: 80%;
  }

  .search-task__description {
    margin-bottom: 10px;
  }

  .search-task__name {
    width: 70%;
    position: relative;
    top: 1px;
    margin-right: 20px;
  }

  .search-task__name[placeholder] {
    font-size: 16px;
    line-height: 20px;
  }

  .search-task__name {
    color: #333;
  }

  .search-task__date {
    margin-right: 20px;
    width: 20%;
  }

}


.tasks {
  .task .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .task-wrapper {
    width: 100%;
    border-bottom: 2px dashed #E9E8E9;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .task-description {
    //position: relative;
    display: flex;
  }

  .task-date {
    margin: 0 20px;
  }
}



