.add-task {

  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    justify-content: space-between;
  }

  input {
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 8px 0 8px 15px;
    outline: none;
  }

  .validFormStyles {
    border: 2px solid #333333;
  }

  .invalidFormStyles {
    border: 2px solid red;
  }

  .add-task__details {
    width: 80%;
  }

  .add-task__name {
    width: 70%;
    position: relative;
    top: 1px;
    margin-right: 20px;
  }

  .add-task__name[placeholder] {
    font-size: 16px;
    line-height: 20px;
  }

  .add-task__name {
    color: #333;
  }

  .add-task__date {
    margin-right: 20px;
    width: 20%;
  }

}
