.search-task {

  input {
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 8px 0 8px 15px;
    outline: none;
  }

  .search-task__name {
    width: 70%;
    position: relative;
    top: 1px;
    margin-right: 20px;
  }

  .search-task__name[placeholder] {
    font-size: 16px;
    line-height: 20px;
  }

  .search-task__name {
    color: #333;
  }

  .search-task__date {
    margin-right: 20px;
    width: 20%;
  }

}
